@import 'bulma';

#ada {
  font-weight: bold;
  font-size: 60px;
  color: #DF2B4F;
}

#home-buttons {
  display: flex;
  margin-left: 550px;
  margin-top: 30px;
  #login-button {
    margin-right: 5px;
  }
  #register-button {
    margin-left: 5px;
  }
}


.logo {
  margin-left: 300px;
}

.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.3;
}
