@import 'bulma';

#ada {
  font-weight: bold;
  font-size: 60px;
  color: #DF2B4F;
}

.logoicon {
  margin-left: 45px;
  margin-bottom: 100px;
}

.container {
  margin: auto;
}

#home-buttons {
  display: flex;
  margin-left: 550px;
  margin-top: 30px;
  #first-button {
    margin-right: 5px;
  }
  #register-button {
    margin-left: 5px;
  }
}

#two-buttons {
  display: flex;
  margin: auto;
  #first-button {
    margin-right: 5px;
  }
  #register-button {
    margin-left: 5px;
  }
}

.card-equal-height {
   display: flex;
   flex-direction: column;
   height: 100%
}

.logo {
  margin-left: 300px;
}

.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.3;
}

.form {
  margin: auto;
  width: 500px;
}
